<ngx-spinner type="ball-scale-multiple">
  <p style="font-size: 50px; font-weight: bold;">Loading....</p>
</ngx-spinner>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" (click)="logo()" style="cursor: pointer;">Student Form</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex">
            <select (change)="onSelect($event)">
                <option value="">-Menu-</option>
                <option value="changepassword">Change Password</option>
                <option value="logout">Log out</option>
              </select> 

            <!-- <button type="button">My profile</button> -->
            <div title="My Profile">
                <svg (click)="myProfile()" style="cursor: pointer; "   xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
            </div>
        </form>
      </div>
    </div>
  </nav>
<section  style="background-color: #9A616D;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="card-body p-4 p-lg-5 text-black">
  
                <form [formGroup]="studentForm" (ngSubmit)="submitData()">
                    

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">Student form</span>
                  </div>
           
                  <div class="form-outline mb-4">
                    <select formControlName="status" name="status" class="status" ngModel [(ngModel)]="statusNg">
                        <option  value="">Please select</option>
                        <option  value="Mr">Mr</option>
                        <option value="Mrs">Mrs </option>
                    </select>
                    <span *ngIf="f.status?.invalid && f.status.touched" style="color: red">Please select</span>
                    <span *ngIf="submitted" style="color: red">Please select</span>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example17">First name</label>
                    <input id="form2Example17" class="form-control form-control-lg" type="text" formControlName="firstname" required ngModel [(ngModel)]="firstnameNg" (input)="onFirstNameInputChange($event)" />
                    <span *ngIf="submitted " style="color: red">invalid First Name</span>
                    <span *ngIf=" f.firstname?.invalid && f.firstname?.touched" style="color: red">invalid First Name</span>
                  </div>
                  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example17">Last name</label>
                    <input id="form2Example17" class="form-control form-control-lg" type="text" formControlName="lastname"   ngMode [(ngModel)]="lastnameNg" (input)="onLastNameInputChange($event)"/>
                    <span *ngIf="f.lastname?.invalid && f.lastname?.touched || submitted" style="color: red">invalid Last Name</span>
                    <span *ngIf="submitted" style="color: red">invalid Last Name</span>
                  </div>
                  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example17" >Age</label>
                    <input  id="form2Example17" class="form-control form-control-lg" type="number" formControlName="age" ngModel  [(ngModel)]="ageNg"/>
                    <span *ngIf="f.age?.invalid && f.age?.touched" style="color: red">invalid Age</span>
                    <span *ngIf="submitted" style="color: red">invalid Age</span>
                  </div>

                  <label class="form-label" for="form2Example27">Email address</label>
                  <div class="form-outline mb-4 d-flex">
                    <input type="text" id="form2Example27" class="form-control form-control-lg" type="text" formControlName="email" ngModel [(ngModel)]="emailNg" (input)="checkForDuplicate()"/>
                    <button type="button" class="btn btn-primary space"  (click)="addEmail()">Add more email</button>
                  </div>
                  <span *ngIf="submitted" style="color: red">invalid Email</span>
                  <span *ngIf="f.email?.invalid && f.email?.touched" style="color: red">invalid Email</span>

                  <div class="form-outline mb-4">
                    <div formArrayName="emailAnother">
                        <ng-container *ngFor="let e of emailAnotherGet.controls; let i=index">
                          <div class="form-outline mb-4 d-flex">
                            <input class=" form-control form-control-lg" type="text" formControlName="{{i}}"  #emailAnother (input)="checkForDuplicate()" placeholder="Enter another email.">
                            <span *ngIf="submitted" style="color: red">invalid Email</span>
                            <span *ngIf="f.emailAnother?.invalid && f.emailAnother?.touched" style="color: red">invalid Email</span>    
                            <button type="button" (click)="removeEmail(i)" class="btn btn-danger space">Remove</button>
                          </div>
                        </ng-container>
                    </div>
                  </div>

                  <!-- <label class="form-label" for="form2Example27">Phone number</label>
                  <div class="form-outline mb-4 d-flex " >
                    <input type="text" id="form2Example27" class="form-control form-control-lg " type="text" (input)="onInputChange($event)" formControlName="phnoPrime" 
                    maxlength="10" minlength="10" [(ngModel)]="phnoPrimeNg"/>
                    <button type="button" class="btn btn-primary space"  (click)="addPhone()">Add more phone</button>
                  </div>
                  <span *ngIf="f.phnoPrime?.invalid && f.phnoPrime?.touched" style="color: red">invalid Phone number</span>
                  <span *ngIf="submitted" style="color: red">invalid Phone number</span>
                  
                  <div class="form-outline mb-4 ">
                    <div formArrayName="emailAnother">
                        <ng-container *ngFor="let e of phnoget.controls; let i=index">
                          <div class="form-outline mb-4 w-80 d-flex">
                            <input class=" form-control form-control-lg" type="text" formControlName="{{i}}"  #emailAnother (input)="onInputChange($event)" placeholder="Enter another phone no.">
                            <span *ngIf="submitted" style="color: red">invalid phone no</span>
                            <span *ngIf="f.emailAnother?.invalid && f.emailAnother?.touched" style="color: red">invalid phone no.</span>    
                            <button type="button" (click)="removePhone(i)" class="btn btn-danger space">Remove</button>
                          </div>
                        </ng-container>
                    </div>
                  </div> -->
                  
                  <!-- //All countries -->
                  <div class="form-outline mb-4 d-flex">
                    <select  name="country" class="status"  formControlName="allCountries" (change)="onCountrySelect($event)">
                        <option value="">-Select country-</option>
                        <option *ngFor="let item of allCountries" [value]="item.value" >{{ item.desc }}</option>
                    </select>
                    <span *ngIf="f.allCountries.invalid && f.allCountries.touched" style="color: red;" class="space">Please select country</span>
                    <span *ngIf="submitted" style="color: red" class="mt-20">Please select country</span>
                  </div>
                  
                  <label class="form-label" for="form2Example27">Phone number</label>
                  <div class="form-outline mb-4 d-flex " >
                      <input type="text" id="form2Example27" class="form-control inputsqure" type="text"  formControlName="countryCode" [(ngModel)]="selectedCountryMobileCode" readonly/>
                      <input type="text" id="form2Example27" class="form-control form-control-lg space" type="text" formControlName="cPhoneNum" (input)="onInputChange($event)" 
                      maxlength="10" minlength="10" />
                    <span *ngIf="f.cPhoneNum.invalid && f.cPhoneNum.touched" style="color: red;" class="space">Invalid phone number</span>
                    <span *ngIf="submitted" style="color: red" class="mt-20">Invalid phone number</span>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example27">Pincode  </label>
                    <input type="text" id="form2Example27" class="form-control form-control-lg" type="text" (input)="onInputChange($event)" formControlName="pincode" 
                     maxlength="6" minlength="6"  ngModel [(ngModel)]="pincodeNg"/>
                    <span *ngIf="f.pincode?.invalid && f.pincode?.touched" style="color: red">invalid Pincode </span>
                    <span *ngIf="submitted" style="color: red">invalid Pincode </span>
                  </div>
                   <!-- country -->
                  <div class="form-outline mb-4 d-flex">
                        <select  name="country" class="status" (change)="selectCountry($event)" formControlName="country" >
                            <option value="">--Select country--</option>
                            <option  value="India">India</option>
                            <option value="Nepal">Nepal</option>
                            <option value="Shrilanka">Shrilanka</option>
                        </select>
                        <span *ngIf="f.country.invalid && f.country.touched" style="color: red;" class="space">Please select country</span>
                        <span *ngIf="submitted" style="color: red" class="mt-20">Please select country</span>
        
                       
                        <div [ngClass]="{ 'disabled-div': stateDisable }" class="space" >
                          <select  name="state" class="status"  formControlName="state">
                              <option value="">-Select state-</option>
                              <option *ngFor="let states of allState" [value]="states" >{{ states }}</option>
                          </select>
                          <span *ngIf="f.state.invalid && f.state.touched" style="color: red;">Please select state</span>
                          <span *ngIf="submitted" style="color: red">Please select state</span>
                        </div>
                      </div>
                  <!-- document  -->

                  <div class="form-outline mb-4 d-flex " >
                    <select  name="document" class="status" (change)="open($event)">
                        <option >Please select</option>
                        <option  value="pdf">PDF</option>
                        <option value="png">PNG</option>
                    </select>

                    <input type="file" class="form-control form-control-lg w-50  space status " formControlName="document" (click)="uploadDocument(studentForm.controls.document.value)" 
                    [(ngModel)]="documentNg" accept="{{acceptedFileTypes}}" [ngStyle]="{'pointer-events': documentBtnDesable ? 'none' : 'auto', 'opacity': documentBtnDesable ? 0.5 : 1}"> 
                    <span *ngIf="f.document.invalid && f.document.touched" style="color: red;">Please select document</span>
                    <span *ngIf="submitted" style="color: red;">Please select document</span>
                  </div>
                  

                  <div class="form-outline mb-4">
                    <textarea class="form-control" cols="30" formControlName="address" rows="5" placeholder="Enter Address"  ngModel [(ngModel)]="addressNg" (input)="onAddressInputChange()"></textarea>
                    <span *ngIf="f.address?.invalid && f.address?.touched" style="color: red">invalid Address</span>
                    <span *ngIf="submitted" style="color: red">invalid Address</span>
                  </div>

                  <div class="form-outline mb-4">
                    <input class="form-check-input" type="checkbox" formControlName="checkbox" id="checkId" [value]="checked" (click)="checkboxClick()">
                    <label class="form-check-label space" for="flexCheckChecked">
                      Confirm
                    </label>
                    <span *ngIf="f.checkbox.invalid && f.checkbox.touched" style="color: red">Please checked the box</span> 
                  </div>      
                  <div class="pt-1 mb-4">
                    <button class="btn btn-success btn-lg btn-block" type="submit">Submit</button>
                  </div>
      
                </form>

              </div>
          </div>
        </div>
      </div>
    </div>
    
    
</section>

<!-- table -->
<section  style="background-color: #9A616D;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="card-body p-4 p-lg-5 text-black">
                <ng-container *ngIf="searchByName ">
                    <input type="text" class="search-hover" name="" placeholder="search here by name" [(ngModel)]=searchValueByName/>
                </ng-container >
                <ng-container  *ngIf="searchByEmail">
                    <input type="text" class="search-hover" placeholder="Search here by email" [(ngModel)]=searchValueByEmail>
                </ng-container>
                <ng-container  *ngIf="searchByPhone">
                    <input type="text" class="search-hover" placeholder="Search here by phone no." [(ngModel)]=searchValueByPhone>
                </ng-container>
        
                <select name="searchDrop" class="status" (change)="onSelectSearch($event)">
                    <option value="pleaseselect"> - Please select -</option>
                    <option value="name">Name</option>
                    <option value="email">Email</option>
                    <option value="phone">Phone</option>
                </select>
                <table class="table table-bordered">
                  <thead>
                    <tr class=" table-dark">
                            <th>No</th>
                            <th>Id</th>
                            <th>Mr/Mrs</th>
                            <th  (click)="sort('id')" style="width: 170px;"> Full name <i class="sa fa-sort"  style="float: right; margin-top: 4px;"></i></th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Phone no</th>
                            <th>Pincode</th>
                            <th>Country</th>
                            <th>State</th>
                            <th>Address</th>
                            <th style="text-align: center;" colspan="2">Action</th>  
                            <th>Toggle &nbsp; <input type="checkbox" (change)="disableAll($event)"></th>
                      </tr>
                    </thead>
                    <tbody [ngStyle]="{'pointer-events': isTableDisabled ? 'none' : 'auto', 'opacity': isTableDisabled ? 0.5 : 1}" *ngFor="let std of studentData 
                    | nameFilter :  searchValueByName 
                    | emailFilter : searchValueByEmail
                    | phoneFilter : searchValueByPhone
                    | paginate : {
                        itemsPerPage : tableSize,
                        currentPage : page,
                        totalItems : count  
                        } ;  let i = index ">
                        <tr>
                            <td>{{i}}</td>
                            <td [ngClass]="{ 'disabled-row': disabledRows[std.id] }">{{std.id}}</td>    
                            <td [ngClass]="{ 'disabled-row': disabledRows[std.id] }">{{std.status}}</td>
                            <td [ngClass]="{ 'disabled-row': disabledRows[std.id] }">{{std.firstname +' '+ std.lastname | titlecase}}</td>
                            <!-- <td>{{std.firstname | titlecase}} {{std.lastname | titlecase}}</td> -->
                            <!-- <td>{{std.lastname}}</td> -->
                            <td [ngClass]="{ 'disabled-row': disabledRows[std.id] }">{{std.age}}</td>
                            <td [ngClass]="{ 'disabled-row': disabledRows[std.id] }">{{std.email}} <br/></td>
                            <td [ngClass]="{ 'disabled-row': disabledRows[std.id] }">{{std.PhoneNumber}}</td>  
                            <td [ngClass]="{ 'disabled-row': disabledRows[std.id] }"><p >{{std.pincode}}</p></td>
                            <td [ngClass]="{ 'disabled-row': disabledRows[std.id] }"><p >{{std.country}}</p></td>
                            <td [ngClass]="{ 'disabled-row': disabledRows[std.id] }"><p >{{std.state}}</p></td>
                            <td [ngClass]="{ 'disabled-row': disabledRows[std.id] }">{{std.address }}</td>
                            <td [ngClass]="{ 'disabled-row': disabledRows[std.id] }"><Button class="btn btn-danger" (click)="deleteBtn(std.id)">Delete</Button></td>
                            <td [ngClass]="{ 'disabled-row': disabledRows[std.id] }"><Button class="btn btn-success" (click)="editBtn(std)">Edit</Button></td>
                            <td style="text-align: center;"><input type="checkbox" (change)="disableCheckboxClick($event, std.id)" ></td>
                        </tr>
                    </tbody>
                  </table>

                  <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
                
                <select (change)="onTableSizeChange($event)">
                    <option *ngFor="let size of tableSizes"> {{size}}</option>
                </select>

              </div>
          </div>
        </div>
      </div>
</section>