<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<section class="vh-100" style="background-color: #9de2ff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-md-9 col-lg-7 col-xl-5">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <div class="d-flex text-black">
                <div class="flex-shrink-0">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                    alt="Generic placeholder image" class="img-fluid"
                    style="width: 180px; border-radius: 10px;">
                </div>
                <div class="flex-grow-1 ms-3">
                    <form class="form" role="form" autocomplete="off"  *ngFor="let user of MyProfileData">
                        <div class="form-group">
                            <label for="inputPasswordOld">Name : </label>
                            <label for="inputPasswordOld">{{user.name}}</label>
                        </div>
                        <br/>
                        <div class="form-group">
                            <label for="inputPasswordNew">Email :</label>
                            <label for="inputPasswordNew">{{user.email}}</label>
                        </div>
                        <br/>   
                        <div class="form-group">
                            <label for="inputPasswordNewVerify">password : </label>
                            <label for="inputPasswordNewVerify">{{user.password}}</label>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>